{% assign example = include.example %}
{%- capture aria_controls -%}
  {%- for format in example.formats %}{{ format.option | slugify | append: " " }}{% endfor -%}
{%- endcapture -%}

<div class="mt-8 entity-example">
  <div class="bg-blue-600 p-2 flex justify-between">
    <span class="font-bold text-white">Configuration</span>
    <div>
      <label id="select-label-{{ example.id }}" class="sr-only">Select a tool</label>
      <select id="tab-select-{{ example.id }}" class="ml-1 w-36 tab-select-tool" aria-controls="{{ aria_controls | rstrip }}" aria-labelledby="select-label-{{ example.id }}">
        {% for format in example.formats %}
          <option value="{{ format.option | slugify }}-{{ example.id }}">{{ format.option }}</option>
        {% endfor %}
      </select>
      <span class="ml-2 text-white">&copy;</span>
    </div>
  </div>

  {% for format in example.formats %}
    <div id="{{ format.option | slugify }}-{{ example.id }}" role="tabpanel" tabindex="0" class="tab-content hidden overflow-auto" aria-labelledby="tab-select-{{ example.id }}">
      {% include {{ format.include_file }} format=format %}
    </div>
  {% endfor %}
</div>
